

   <div class="navbar-container">
            <div class="navbar">
                <div class="navbar-left">
                  <a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Emblem_of_Hanoi.svg/1200px-Emblem_of_Hanoi.svg.png" alt=""></a>
                  
                    
                    <a href="/">Trang chủ</a>
                    <a href="/listMotobikes/list">Danh sách xe </a> 
                    
                    {{!-- <a href="/priceTable/">Bảng giá</a> --}}
                    <a href="/policy/">Chính sách</a>
                    <a href="/contact/">Liên hệ</a>
                    {{#if user}}

            
                        <a href="/user/cart">Giỏ hàng</a>
                    {{/if}}
                    
                </div>
                <div class="navbar-right">
                    <div class="find-a-store">
                        <svg
                            aria-hidden="true"
                            class="valign-middle pr2"
                            focusable="false"
                            preserveAspectRatio="xMidYMid meet"
                            style="
                                width: 32px;
                                height: 32px;
                                overflow: visible;
                                fill: currentColor;
                            "
                            viewBox="0 0 24 24"
                        >
                            <path
                                d="M12,11.475 C10.5214286,11.475 9.32142857,10.299 9.32142857,8.85 C9.32142857,7.401 10.5214286,6.225 12,6.225 C13.4785714,6.225 14.6785714,7.401 14.6785714,8.85 C14.6785714,10.299 13.4785714,11.475 12,11.475 M12,1.5 C7.85357143,1.5 4.5,4.7865 4.5,8.85 C4.5,14.3625 12,22.5 12,22.5 C12,22.5 19.5,14.3625 19.5,8.85 C19.5,4.7865 16.1464286,1.5 12,1.5"
                            ></path>
                        </svg>
                        
                        {{!-- <div>Find a store</div> --}}
                    </div>
                   
                    
 

            {{#if user}}

            
                        <div>{{user.name}}</div>
                        <div><a href="/user/logout">Đăng xuất</a></div>
                        
              
            {{else}}
              <div class="sign-in"><a href="/user/signIn">Đăng nhập</a></div>
                    <div class="sign-in"><a href="/user/signUp">Đăng kí</a></div>
            {{/if}}
                </div>
            </div>
        </div>



<div class="mt-4">
    <div class="row">
      {{#each motobike}}
      <div class="col-sm-6 col-lg-3">
        
        <div class="card">
            <img class="card-img-top" src="{{this.image}}" alt="{{this.image}}">
            <div class="card-body">
            <h5 class="card-title" style="font-size: 25px;">{{this.name}}</h5>
            
            <h5 class="card-title" style="font-size: 15px;color:#e83a45;font-weight:800">{{formatPrice this.price}} VNĐ/ngày</h5>

    
             <a href="" class="btn btn-primary btn-delivery" data-id="{{this._id}}">Thuê ngay</a>
         </div>
    </div>

      </div>
      {{/each}}
      
</div>
    </div>
</div>

<form name="delivery-cart-form" method="POST"></form>

<div class="alert alert-success" id="successMessage" style="display: none;">
  Thuê thành công!
</div>

<script>

    

    document.addEventListener('DOMContentLoaded', function() {
       
        
        var deliveryForm = document.forms['delivery-cart-form'];
        
        var deliveryBtn = $('.btn-delivery');
        // When dialog confirm clicked
       

        
        
        
        deliveryBtn.click(function (e) {
          e.preventDefault();
          var motobikeId = $(this).data('id');
          deliveryForm.action = '/listMotobikes/' + motobikeId + '/delivery?_method=PATCH';
          deliveryForm.submit();
          console.log('click');
        });
    });
</script>